<div class="p-y-lg container">
   <section>
      <h1>SVG Shape</h1>
      <p>
         The idea here is to only use the d attribute of the svg shape and cache the filters, templates and gradients
         so loading an svg is almost as cheap as loading a string
      </p>
   </section>
   <section class="p-y-lg">
      <h3 class="thin"> Avilable options and defaults</h3>
      <div class="divider m-y-md"></div>
      <table>
         <tr>
            <td class="heavy"> radius         :</td>    <td> 50                           </td>
         </tr>
         <tr>
            <td class="heavy"> strokeWidth     :</td>   <td> 1                             </td>
         </tr>
         <tr>
            <td class="heavy"> ringStrokeWidth :</td><td> 0 </td>
         </tr>
         <tr>
            <td class="heavy"> ringStroke      :</td>   <td> "#777"                  </td>
         </tr>
         <tr>
            <td class="heavy"> ringFill        :</td>   <td> "#777"                    </td>
         </tr>
         <tr>
            <td class="heavy"> shape           :</td>   <td> "cube"             </td>
         </tr>
         <tr>
            <td class="heavy"> fill            :</td>   <td> "rgba(92, 69, 84, 0.2)" </td>
         </tr>
         <tr>
            <td class="heavy"> stroke          :</td>   <td> "#777"                  </td>
         </tr>
         <tr>
            <td class="heavy"> viewBox         :</td>   <td> "0 0 64 64"            </td>
         </tr>

      </table>
   </section>
   <section class="p-a-lg">
      <ul class="list-h">
         <li>
            <svg-shape shape="backpack" stroke-width="1" stroke="#FAFAFA" radius="90"></svg-shape>
         </li>
         <li>
            <svg-shape shape="gameboy" stroke-width="1" stroke="#FAFAFA" radius="90"></svg-shape>
         </li>
      </ul>
   </section>

</div>
