.inverse {
  background-color: #fafafa;
  color: #000000; }

.scrollable {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.scrollable-content {
  box-sizing: border-box;
  min-height: 100%; }

/* Enable the Classes below to have scrollbars not overlap the content */
/*
.scrollable-content.scrollable-right {
    margin-right: 15px;
}

.scrollable-content.scrollable-top {
    margin-top: 15px;
}

.scrollable-content.scrollable-left {
    margin-left: 15px;
}

.scrollable-content.scrollable-bottom {
    margin-bottom: 15px;
}
*/
/* if any element is fixed and displayed at full window size, this rule becomes handy */
.fullwindow .scrollable-content {
  transform: none !important; }

.scrollable .scrollable-content,
.scrollable .scrollable-slider {
  -webkit-transition: background-color .2s linear, opacity .2s linear, -webkit-transform .2s ease-out;
  -moz-transition: background-color .2s linear, opacity .2s linear, -moz-transform .2s ease-out;
  -ms-transition: background-color .2s linear, opacity .2s linear, -ms-transform .2s ease-out;
  -o-transition: background-color .2s linear, opacity .2s linear, -o-transform .2s ease-out;
  transition: background-color .2s linear, opacity .2s linear, transform .2s ease-out; }

.scrollable.active .scrollable-content,
.scrollable.active .scrollable-slider {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.scrollable .scrollable-bar {
  position: absolute;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  opacity: 0;
  background-color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid transparent; }

.scrollable:hover .scrollable-bar {
  opacity: 0.6; }

.scrollable .scrollable-bar:hover {
  opacity: 1; }

.scrollable.active .scrollable-bar {
  opacity: 1; }

.scrollable .scrollable-slider {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ccc;
  background-image: linear-gradient(to right, #ccc, #ddd);
  border: 1px solid #333;
  border: 1px solid rgba(0, 0, 0, 0.5); }

.scrollable .scrollable-bar-x .scrollable-slider {
  height: 8px; }

.scrollable .scrollable-bar-y .scrollable-slider {
  width: 8px; }

.color-success {
  color: #5cb85c !important; }

.color-black {
  color: #000000 !important; }

.color-grey-dark {
  color: #333333 !important; }

.color-grey-darker {
  color: #222222 !important; }

.color-grey {
  color: #555555 !important; }

.color-grey-light {
  color: #777777 !important; }

.color-grey-lighter {
  color: #ecf0f4 !important; }

.color-grey-lightest {
  color: #f9f9f9 !important; }

.color-grey-comp {
  color: #f64240 !important; }

.color-white {
  color: #FFFFFF !important; }

.color-primary {
  color: #00a0e0 !important; }

.color-primary-dark {
  color: #007cad !important; }

.color-primary-darker {
  color: #00577a !important; }

.color-primary-darkest {
  color: #151e26 !important; }

.color-primary-light {
  color: #14bcff !important; }

.color-primary-lighter {
  color: #47caff !important; }

.color-primary-lightest {
  color: #94e0ff !important; }

.color-comp-1 {
  color: #00fbe2 !important; }

.color-comp-2 {
  color: #FFBF01 !important; }

.bg-error {
  background: #d90034 !important; }

.bg-success {
  background: #5cb85c !important; }

.bg-black {
  background: #000000; }

.bg-grey-dark {
  background: #333333; }

.bg-grey-darker {
  background: #222222; }

.bg-grey {
  background: #555555; }

.bg-grey-light {
  background: #777777; }

.bg-grey-lighter {
  background: #ecf0f4; }

.bg-grey-lightest {
  background: #f9f9f9; }

.bg-white {
  background: #FFFFFF; }

.bg-primary {
  background: #00a0e0; }

.bg-primary-dark {
  background: #007cad; }

.bg-primary-darker {
  background: #00577a; }

.bg-primary-darkest {
  background: #151e26; }

.bg-primary-light {
  background: #14bcff; }

.bg-primary-lighter {
  background: #47caff; }

.bg-primary-lightest {
  background: #94e0ff; }

.bg-comp-1 {
  background: #00fbe2; }

.bg-comp-2 {
  background: #FFBF01; }

.inverse {
  background-color: #fafafa;
  color: #000000; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  /* for IE 11 */
  display: none; }

.v-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.h-center {
  position: relative;
  left: 25%; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.help-shape {
  float: left;
  opacity: 0.9;
  padding: 20px 10px 0 10px; }

[hidden] {
  display: none !important; }

.invisible {
  visibility: hidden; }

.list-h {
  padding-bottom: 10px; }
  .list-h li {
    display: inline-block; }

.list-v li {
  display: block !important; }

.ilb {
  display: inline-block !important; }

.full-width {
  width: 100% !important; }

.inline-children > * {
  display: inline-block; }

.is-b {
  -webkit-box-shadow: inset 0px -116px 117px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -116px 117px 6px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -116px 117px 6px rgba(0, 0, 0, 0.75); }

.b-a-sm {
  border-width: 1px !important;
  border: 1px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-t-sm {
  border-width: 1px 0px 0px 0px !important;
  border-top: 1px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-t-lg {
  border-width: 4px 0px 0px 0px !important;
  border-top: 4px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #9FEE01 25%, #00fbe2 50%, #6e32f9 75%, #da262e 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #9FEE01 25%, #00fbe2 50%, #6e32f9 75%, #da262e 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #9FEE01 25%, #00fbe2 50%, #6e32f9 75%, #da262e 100%) !important;
  border-image-slice: 1 !important; }

.b-r-sm {
  border-width: 0px 1px 0px 0px !important;
  border-right: 1px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-r-lg {
  border-width: 0px 4px 0px 0px !important;
  border-right: 4px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-l-sm {
  border-width: 0px 0px 0px 1px !important;
  border-left: 1px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-l-lg {
  border-width: 0px 0px 0px 4px !important;
  border-left: 4px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-b-sm {
  border-width: 0px 0px 1px 0px !important;
  border-bottom: 1px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.b-b-lg {
  border-width: 0px 0px 4px 0px !important;
  border-bottom: 4px solid #00a0e0 !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

.m-a-0 {
  margin: 0 !important; }

.m-t-0 {
  margin-top: 0 !important; }

.m-r-0 {
  margin-right: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.m-l-0 {
  margin-left: 0 !important; }

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-a {
  margin: 1rem !important; }

.m-t {
  margin-top: 1rem !important; }

.m-r {
  margin-right: 1rem !important; }

.m-b {
  margin-bottom: 1rem !important; }

.m-l {
  margin-left: 1rem !important; }

.m-x {
  margin-right: 1rem !important;
  margin-left: 1rem !important; }

.m-y {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.m-a-sm {
  margin: 0.5rem !important; }

.m-t-sm {
  margin-top: 0.5rem !important; }

.m-r-sm {
  margin-right: 0.5rem !important; }

.m-b-sm {
  margin-bottom: 0.5rem !important; }

.m-l-sm {
  margin-left: 0.5rem !important; }

.m-x-sm {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important; }

.m-y-sm {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.m-a-md {
  margin: 1.5rem !important; }

.m-t-md {
  margin-top: 1.5rem !important; }

.m-r-md {
  margin-right: 1.5rem !important; }

.m-b-md {
  margin-bottom: 1.5rem !important; }

.m-l-md {
  margin-left: 1.5rem !important; }

.m-x-md {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.m-y-md {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.m-a-lg {
  margin: 3rem !important; }

.m-t-lg {
  margin-top: 3rem !important; }

.m-r-lg {
  margin-right: 3rem !important; }

.m-b-lg {
  margin-bottom: 3rem !important; }

.m-l-lg {
  margin-left: 3rem !important; }

.m-x-lg {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

.m-y-lg {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.p-a-0 {
  padding: 0 !important; }

.p-t-0 {
  padding-top: 0 !important; }

.p-r-0 {
  padding-right: 0 !important; }

.p-b-0 {
  padding-bottom: 0 !important; }

.p-l-0 {
  padding-left: 0 !important; }

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-a {
  padding: 1rem !important; }

.p-t {
  padding-top: 1rem !important; }

.p-r {
  padding-right: 1rem !important; }

.p-b {
  padding-bottom: 1rem !important; }

.p-l {
  padding-left: 1rem !important; }

.p-x {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.p-y {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.p-a-md {
  padding: 1.5rem !important; }

.p-t-md {
  padding-top: 1.5rem !important; }

.p-r-md {
  padding-right: 1.5rem !important; }

.p-b-md {
  padding-bottom: 1.5rem !important; }

.p-l-md {
  padding-left: 1.5rem !important; }

.p-x-md {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.p-y-md {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-a-lg {
  padding: 3rem !important; }

.p-t-lg {
  padding-top: 3rem !important; }

.p-r-lg {
  padding-right: 3rem !important; }

.p-b-lg {
  padding-bottom: 3rem !important; }

.p-l-lg {
  padding-left: 3rem !important; }

.p-x-lg {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

.p-y-lg {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.block {
  display: block !important; }

.divider {
  margin: 0 auto 10px;
  width: 200px;
  height: 1px;
  background: -webkit-linear-gradient(0deg, #10a0e6 0, #6e32f9 50.15%, #da262e 100%);
  background: -webkit-gradient(linear, 0 50%, 100% 50%, color-stop(0, #10a0e6), color-stop(0.5015, #6e32f9), color-stop(1, #da262e)); }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-xs-left {
  text-align: left; }

.text-xs-right {
  text-align: right; }

.text-xs-center {
  text-align: center; }

@media (min-width: 34em) {
  .text-sm-left {
    text-align: left; }

  .text-sm-right {
    text-align: right; }

  .text-sm-center {
    text-align: center; } }
@media (min-width: 48em) {
  .text-md-left {
    text-align: left; }

  .text-md-right {
    text-align: right; }

  .text-md-center {
    text-align: center; } }
@media (min-width: 62em) {
  .text-lg-left {
    text-align: left; }

  .text-lg-right {
    text-align: right; }

  .text-lg-center {
    text-align: center; } }
@media (min-width: 75em) {
  .text-xl-left {
    text-align: left; }

  .text-xl-right {
    text-align: right; }

  .text-xl-center {
    text-align: center; } }
.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-cleared {
  text-decoration: none; }

.text-muted {
  color: #777777; }

*,
*:after,
*:before {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  min-height: 100%;
  margin: 0 auto-100px;
  padding: 0 0 100px; }

.push {
  height: 200px; }

.site-footer {
  height: 100px;
  margin-top: 22px;
  position: relative;
  bottom: -100px; }
  .site-footer a {
    border: none !important; }
  .site-footer svg {
    position: relative;
    left: 0px;
    top: 20px; }

body {
  background: #000000;
  color: #fafafa;
  overflow-x: hidden;
  font-family: "Raleway", "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  line-height: 1.6;
  font-size: 1em;
  font-weight: 500; }

.main-view,
footer {
  margin-left: 60px !important; }
  @media (max-width: 33.9em) {
    .main-view,
    footer {
      margin-left: 0px !important; } }

.hidden {
  display: none !important;
  visibility: hidden !important; }

.pulse {
  animation: pulse 1s infinite alternate; }

@-webkit-keyframes pulse {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@-moz-keyframes pulse {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@-ms-keyframes pulse {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes pulse {
  0% {
    opacity: 0.4;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); } }
@keyframes fadein {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash-inverse {
  to {
    stroke-dashoffset: 1000; } }
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 34em) {
    .container {
      max-width: 34rem; } }
  @media (min-width: 48em) {
    .container {
      max-width: 45rem; } }
  @media (min-width: 62em) {
    .container {
      max-width: 60rem; } }
  @media (min-width: 75em) {
    .container {
      max-width: 72.25rem; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 34em) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 48em) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 62em) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 75em) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }

  .col-xl-1 {
    width: 8.33333%; }

  .col-xl-2 {
    width: 16.66667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33333%; }

  .col-xl-5 {
    width: 41.66667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33333%; }

  .col-xl-8 {
    width: 66.66667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33333%; }

  .col-xl-11 {
    width: 91.66667%; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-pull-1 {
    right: 8.33333%; }

  .col-xl-pull-2 {
    right: 16.66667%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-4 {
    right: 33.33333%; }

  .col-xl-pull-5 {
    right: 41.66667%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-7 {
    right: 58.33333%; }

  .col-xl-pull-8 {
    right: 66.66667%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-10 {
    right: 83.33333%; }

  .col-xl-pull-11 {
    right: 91.66667%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-push-1 {
    left: 8.33333%; }

  .col-xl-push-2 {
    left: 16.66667%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-4 {
    left: 33.33333%; }

  .col-xl-push-5 {
    left: 41.66667%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-7 {
    left: 58.33333%; }

  .col-xl-push-8 {
    left: 66.66667%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-10 {
    left: 83.33333%; }

  .col-xl-push-11 {
    left: 91.66667%; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
@font-face {
  font-family: 'Oswald';
  src: url("../../example/fonts/Oswald/Light/Oswald-Light.woff?v=") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: url("../../example/fonts/Oswald/Regular/Oswald-Regular.woff?v=") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: url("../../example/fonts/Oswald/Bold/Oswald-Bold.woff?v=") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../../example/fonts/Raleway/Thin/Raleway-Thin.ttf?v=1.0") format("truetype"), url("../../example/fonts/Raleway/Thin/Raleway-Thin.svg?v=1.0#Thin") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../../example/fonts/Raleway/ExtraLight/Raleway-ExtraLight.ttf?v=1.0") format("truetype"), url("../../example/fonts/Raleway/ExtraLight/Raleway-ExtraLight.svg?v=1.0#ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../../example/fonts/Raleway/Light/Raleway-Light.ttf?v=1.0") format("truetype"), url("../../example/fonts/Raleway/Light/Raleway-Light.svg?v=1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../../example/fonts/Raleway/Regular/Raleway-Regular.ttf?v=1.0") format("truetype"), url("../../example/fonts/Raleway/Regular/Raleway-Regular.svg?v=1.0#Regular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../../example/fonts/Raleway/Medium/Raleway-Medium.ttf?v=1.0") format("truetype"), url("../../example/fonts/Raleway/Medium/Raleway-Medium.svg?v=1.0#Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("../../example/fonts/Raleway/ExtraBold/Raleway-ExtraBold.ttf?v=1.0") format("truetype"), url("../../example/fonts/Raleway/ExtraBold/Raleway-ExtraBold.svg?v=1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
[class^='headline-*'][class^='subhead-*'],
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Oswald", Impact, "Franklin Gothic Bold";
  font-weight: 700;
  line-height: 1.1;
  color: inherit; }
  [class^='headline-*'][class^='subhead-*'].thin,
  h1.thin, h2.thin, h3.thin, h4.thin, h5.thin, h6.thin,
  .h1.thin, .h2.thin, .h3.thin, .h4.thin, .h5.thin, .h6.thin {
    font-weight: 300 !important; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: 0.5rem; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 0.5rem; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  font-family: "Raleway", "Lucida Grande", "Tahoma", "Verdana", sans-serif; }

.lead {
  font-size: 1.25rem;
  font-weight: 800; }

.thin {
  font-weight: 400 !important; }

.heavy {
  font-weight: 700 !important; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-width: 0px 0px 1px 0px !important;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important; }

small,
.small {
  font-weight: 500;
  color: #777777;
  font-size: 85%; }

mark,
.mark {
  padding: .2em;
  background-color: #f0ad4e; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px; }

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25em solid #00a0e0; }
  .blockquote p:last-child,
  .blockquote ul:last-child,
  .blockquote ol:last-child {
    margin-bottom: 0; }
  .blockquote footer {
    display: block;
    font-size: 80%;
    line-height: 1.5;
    color: #777777; }
    .blockquote footer:before {
      content: "\2014 \00A0"; }

.blockquote-reverse {
  padding-right: 1rem;
  padding-left: 0;
  text-align: right;
  border-right: 0.25rem solid #ecf0f4;
  border-left: 0; }
  .blockquote-reverse footer:before {
    content: ""; }
  .blockquote-reverse footer:after {
    content: "\00A0 \2014"; }

a.button-main,
.button {
  outline: 0;
  cursor: pointer;
  border-radius: 999em;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1.5em 0em 0.5em 0em;
  width: auto;
  border: 1px solid #ecf0f4;
  background: transparent;
  color: #00a0e0;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 12px !important;
  font-size: 0.75rem !important;
  line-height: 16px;
  line-height: 1rem;
  transition: background 0.3s ease-in-out 0s, color 0.3s ease-in-out 0s; }

a.button-main:active, a.button-main:focus, a.button-main:hover
, .button:active, .button:focus, .button:hover, .button.active {
  color: #FFBF01;
  border-color: #ecf0f4;
  outline: 0; }

a {
  text-decoration: none;
  font-weight: 500;
  padding: 3px 0;
  cursor: pointer;
  /* @include transition( color $global-transition-duration ease-in-out 0s, border .5s ease-in); */
  transition: color 0.3s ease-in-out 0s, border 0.3s ease;
  color: #00a0e0; }

a:active, a:focus, a:hover {
  outline: 0;
  color: #FFBF01;
  text-decoration: none;
  background: transparent; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none; }

.button[disabled=disabled], .button:disabled {
  border-color: #777777 !important;
  color: #777777; }
  .button[disabled=disabled]:hover, .button:disabled:hover {
    background: transparent;
    border-color: #777777 !important;
    color: #777777 !important; }
.button.button-platinum {
  border-color: #ecf0f4;
  color: #ecf0f4; }
  .button.button-platinum:hover {
    background: transparent;
    border-color: #777777;
    color: #ecf0f4; }
.button.button-primary:hover, .button.button-primary:active {
  color: #FFBF01;
  border-color: #ecf0f4; }

form {
  max-width: 300px;
  margin: 2em auto; }

.full-width-form {
  max-width: 100%;
  padding: 1em; }

legend {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto;
  letter-spacing: -1px;
  color: #fafafa;
  background: #00a0e0;
  padding: 0.2em;
  position: relative;
  left: 0; }

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #000000;
  display: inline-block;
  cursor: pointer; }

.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #00a0e0; }

.inputfile + label * {
  pointer-events: none; }

input[type="text"], input[type="number"], input[type="time"], input[type="password"], textarea, select {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  line-height: 2em;
  height: 3em;
  min-width: 100%;
  padding: .5em 1.34em;
  margin-bottom: 1em;
  background: transparent;
  color: #fafafa;
  border: 1px solid #f64240;
  -moz-border-image: -moz-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  -webkit-border-image: -webkit-linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image: linear-gradient(145deg, #00a0e0 0%, #00fbe2 100%) !important;
  border-image-slice: 1 !important;
  border-radius: 0em; }

textarea {
  height: 12em; }

input[type="text"]:focus, input[type="number"]:focus, input[type="time"]:focus, textarea:focus {
  border-color: #00a0e0; }

textarea,
input[type="number"],
input[type="text"],
input[type="number"]:focus,
input[type="text"]:focus,
input[type="text"]:valid {
  outline: none;
  color: #fafafa; }

.ac-custom {
  padding: 0 3em;
  max-width: 900px;
  margin: 0 auto; }

.ac-custom h2 {
  font-size: 3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0 0 30px; }

.ac-custom ul,
.ac-custom ol {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px; }

.ac-custom li {
  margin: 0 auto;
  padding: 1em 0;
  position: relative; }

.ac-custom label {
  display: inline-block;
  position: relative;
  font-size: 1.2em;
  padding: 0 0 0 80px;
  vertical-align: top;
  color: #00a0e0;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
  margin-top: -25px;
  position: absolute;
  cursor: pointer; }

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  text-align: left;
  z-index: 100; }

.ac-custom label::before {
  content: '';
  border: 3px solid #fff;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.ac-radio label::before {
  border-radius: 50%; }

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
  color: #00fbe2; }

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
  background-color: #00fbe2;
  opacity: 0.2; }

/* General SVG and path styles */
.ac-custom svg {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: 5px;
  pointer-events: none; }

.ac-custom svg path {
  stroke: url(#gradient-color);
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; }

/* Specific input, SVG and path styles */
/* Circle */
.ac-circle input[type="checkbox"],
.ac-circle input[type="radio"],
.ac-circle label::before {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: 10px;
  position: absolute; }

.ac-circle label::before {
  background-color: #00a0e0;
  border: none; }

.ac-circle svg {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  left: -10px; }

.ac-circle svg path {
  stroke-width: 3px; }

.button-wrapper {
  cursor: pointer; }

[svg-button] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.3s;
  line-height: 0 !important;
  font-weight: 700 !important; }
  [svg-button] .button-svg .button-ring-gradient {
    animation: dash-inverse 1.5s backwards; }
  [svg-button].active {
    transform: scale(1.2, 1.2) translate(0, 0); }
    [svg-button].active .button-bg {
      fill: #00a0e0;
      fill-opacity: 1; }
    [svg-button].active .button-svg .button-shape {
      stroke: url(/#gradient-color); }
    [svg-button].active .button-svg .button-ring-gradient {
      animation: dash 1.5s forwards; }
    [svg-button].active .button-svg .button-bg {
      fill: rgba(0, 0, 0, 0.8); }

.svg-shape-svg {
  transition: all ease-in-out 300ms; }

.svg-shape-svg.active {
  transform: scale(1.1, 1.1) translate(0, 0) !important; }

.drawer {
  transition: all ease-in-out 300ms; }
  .drawer .drawer-svg .drawer-ring {
    transition: all ease-in-out 300ms;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000; }
  .drawer.active {
    transform: scale(1.1, 1.1) translate(0, 0) !important; }
    .drawer.active .drawer-svg .drawer-ring {
      animation: dash 1.5s forwards; }

.delete-button .button-wrapper .button-svg .button-bg {
  fill: #151e26;
  fill-opacity: 0.4; }
.delete-button .button-wrapper .button-svg .button-text {
  font-weight: 700;
  fill: #151e26;
  fill-opacity: 0.4;
  stroke: #00a0e0 0%, #00fbe2 100%; }

.svg-40 .button-wrapper .button-text {
  position: absolute;
  top: 37px;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-family: "Oswald", Impact, "Franklin Gothic Bold";
  font-size: 1.2em;
  padding: 5px 5px; }

.svg-60 .button-wrapper .button-text {
  position: absolute;
  top: 57px;
  font-weight: 700;
  left: 8px;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-family: "Oswald", Impact, "Franklin Gothic Bold";
  font-size: 1.2em;
  padding: 5px 5px; }

.shape-text-l {
  height: 100%;
  font-size: 1.7em;
  position: absolute;
  color: #FFBF01; }

.shape-text-b {
  font-size: 1.7em;
  position: absolute;
  color: #FFBF01;
  left: 25%;
  bottom: -20px; }

.svg-reply-counter .button-wrapper .button-text {
  position: absolute;
  top: 57px;
  display: inline-block;
  font-weight: 700;
  left: 28px; }
  .svg-reply-counter .button-wrapper .button-text text {
    font-size: 1.2em !important;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-family: "Oswald", Impact, "Franklin Gothic Bold";
    padding: 5px 5px; }

/*# sourceMappingURL=style.css.map */
